<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zeiterfassung_Supervisor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zeiterfassung_Supervisor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Zeiterfassung_Supervisor.Properties.Settings>
            <setting name="DatabasePath" serializeAs="String">
                <value>C:\temp\db.csv</value>
            </setting>
            <setting name="ViewFilePapth" serializeAs="String">
                <value>C:\temp\short</value>
            </setting>
            <setting name="ProgramPath" serializeAs="String">
                <value>C:\Program Files\Microsoft Office\root\Office16\EXCEL.EXE</value>
            </setting>
            <setting name="SupportEmail" serializeAs="String">
                <value>christoph.beyer@schindler.com</value>
            </setting>
            <setting name="SourceFolder" serializeAs="String">
                <value>C:\temp</value>
            </setting>
        </Zeiterfassung_Supervisor.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Zeiterfassung_Supervisor.Properties.Settings>
            <setting name="HightlightSyncdateIfOlder" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ProgramPathUser" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableScaling" serializeAs="String">
                <value>False</value>
            </setting>
        </Zeiterfassung_Supervisor.Properties.Settings>
    </userSettings>
</configuration>